<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="filteredListings.length != 0; then filtered; else unfiltered"></ng-container>
    <ng-template #unfiltered>
      <div class="col-sm-12 col-lg-6" *ngFor="let listing of listings">
        <app-listing [title]="listing.Title" [id]="listing.Id" [images]="listing.Images"
                     [dateOfCreation]="listing.DateOfCreation"
                     [productionDate]="listing.IdentifiedVehicles.ProductionDate"
                     [displacement]="listing.ListedCar.ListedCarSpecification.Engine.Displacement"
                     [horsepower]="listing.ListedCar.ListedCarSpecification.Engine.Horsepower"
                     [fuelType]="listing.ListedCar.ListedCarSpecification.Engine.FuelType.Name"
                     [mileage]="listing.ListedCar.Mileage" [carCondition]="listing.ListedCar.CarCondition.Name">
        </app-listing>
      </div>
    </ng-template>
    <ng-template #filtered>
      <div class="col-sm-12 col-lg-6" *ngFor="let listing of filteredListings">
        <app-listing [title]="listing.Title" [id]="listing.Id" [images]="listing.Images"
                     [dateOfCreation]="listing.DateOfCreation"
                     [productionDate]="listing.IdentifiedVehicles.ProductionDate"
                     [displacement]="listing.ListedCar.ListedCarSpecification.Engine.Displacement"
                     [horsepower]="listing.ListedCar.ListedCarSpecification.Engine.Horsepower"
                     [fuelType]="listing.ListedCar.ListedCarSpecification.Engine.FuelType.Name"
                     [mileage]="listing.ListedCar.Mileage" [carCondition]="listing.ListedCar.CarCondition.Name">
        </app-listing>
      </div>
    </ng-template>
    </div>
</div>
