<div class="container">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-xs-12 col-lg-2">
        <label>Condition:</label>
        <select class="form-select" formControlName="carCondition" [(ngModel)]="carConditionId">
          <option *ngFor="let carCondition of basicProperties.CarCondition" [value]="carCondition.Id">
            {{ carCondition.Name }}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Country of origin:</label>
        <select class="form-select" formControlName="countryOfOrigin" [(ngModel)]="countryOfOriginId">
          <option *ngFor="let country of basicProperties.Country" [value]="country.Id">
            {{ country.Name }}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Chassis:</label>
        <select class="form-select"
                formControlName="carType"
                [(ngModel)]="carTypeId">
          <option *ngFor="let carType of basicProperties.CarType"
                  [value]="carType.Id"
                  id="carType">
            {{ carType.Name }}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Door quantity:</label>
        <select class="form-select" formControlName="doorQuantity" [(ngModel)]="doorQuantityId">
          <option *ngFor="let doorQuantity of basicProperties.DoorQuantity" [value]="doorQuantity.Id">
            {{ doorQuantity.Doors }}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Fuel:</label>
        <select class="form-select" formControlName="fuelType" [(ngModel)]="fuelTypeId">
          <option *ngFor="let fuelType of basicProperties.FuelType"
                  id="fuelType"
                  [value]="fuelType.Id"
          >
            {{ fuelType.Name }}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Transmission type:</label>
        <select class="form-select" formControlName="transmission" [(ngModel)]="transmissionId">
          <option *ngFor="let transmission of basicProperties.Transmission"
                  id="transmission"
                  [value]="transmission.Id"
          >
            {{ transmission.Name }}
          </option>
        </select>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-lg-2">
        <label>Color:</label>
        <select class="form-select" formControlName="carColor" [(ngModel)]="carColorId">
          <option *ngFor="let carColor of basicProperties.CarColor" [value]="carColor.Id">
            {{ carColor.Name }}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Manufacturer:</label>
        <select class="form-select"
                formControlName="manufacturer"
                [(ngModel)]="manufacturerId"
                (change)="onSelectedManufacturer(manufacturerId)"
        >
          <option [value]="0" selected>Any</option>
          <option *ngFor="let manufacturer of basicProperties.Manufacturer"
                  [value]="manufacturer.Id"
                  id="manufacturer"
          >
            {{ manufacturer.Name }}
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Model:</label>
        <ng-container *ngIf="manufacturerId === 0; then emptyManufacturer; else modelList"></ng-container>
        <ng-template #emptyManufacturer>
          <select class="form-select" disabled>
            <option selected>Model</option>
          </select>
        </ng-template>
        <ng-template #modelList>
          <select [disabled]="manufacturerId === 0" class="form-select" formControlName="model" [(ngModel)]="modelId"
                  (change)="onSelectedModel(modelId)">
            <option selected [value]="0">Any</option>
            <option *ngFor="let model of models"
                    id="model"
                    [value]="model.Id">
              {{ model.Name }}
            </option>
          </select>
        </ng-template>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Generation:</label>
        <ng-container *ngIf="modelId === 0; then emptyModel; else generationList"/>
        <ng-template #emptyModel>
          <select class="form-select" disabled>
            <option>Generation</option>
          </select>
        </ng-template>
        <ng-template #generationList>
          <select [disabled]="modelId === 0" class="form-select" formControlName="generation" [(ngModel)]="generationId">
            <option selected [value]="0">Any</option>
            <option *ngFor="let generation of generations"
                    id="generation"
                    [value]="generation.Id">
              {{ generation.Name }}
            </option>
          </select>
        </ng-template>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Year of production from:</label>
        <input [(ngModel)]="minYearOfProduction" formControlName="minYearOfProduction" type="number" class="form-control"/>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Year of production to:</label>
        <input [(ngModel)]="maxYearOfProduction" formControlName="maxYearOfProduction" type="number" class="form-control"/>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-lg-2">
        <label>Minimum displacement:</label>
        <input [(ngModel)]="minDisplacement" formControlName="minDisplacement" type="number" class="form-control smallInput"/>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Maximum displacement:</label>
        <input [(ngModel)]="maxDisplacement" formControlName="maxDisplacement" type="number" class="form-control smallInput"/>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Cylinders: </label>
        <select class="form-select" formControlName="cylinders" [(ngModel)]="cylinderId">
          <option>
          </option>
        </select>
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Horsepower from:</label>
        <input [(ngModel)]="minimumHorsepower" class="form-control" type="number" formControlName="minimumHorsepower">
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Horsepower to:</label>
        <input [(ngModel)]="maximumHorsepower" class="form-control" type="number" formControlName="maximumHorsepower">
      </div>
      <div class="col-xs-12 col-lg-2">
        <label>Seller:</label>
        <select class="form-select" [(ngModel)]="accountTypeId" formControlName="accountType">
          <option *ngFor="let accountType of accountTypes" [value]="accountType.Id">
            {{accountType.Name}}
          </option>
        </select>
      </div>
    </div>
    <hr>
        <div class="row pb-2">
          <div class="col-xs-12 col-lg-2">
            <label>Min mileage:</label>
            <input [(ngModel)]="minMileage" class="form-control" type="number" formControlName="minMileage">
          </div>
          <div class="col-xs-12 col-lg-2">
            <label>Max mileage:</label>
            <input [(ngModel)]="maxMileage" class="form-control" type="number" formControlName="maxMileage">
          </div>
          <div class="col-xs-12 col-lg-2">
          <label>Price from:</label>
          <input [(ngModel)]="minPrice" class="form-control" type="number" formControlName="minPrice">
        </div>
          <div class="col-xs-12 col-lg-2">
            <label>Price to:</label>
            <input [(ngModel)]="maxPrice" class="form-control" type="number" formControlName="maxPrice">
          </div>
          <div class="col-xs-12 col-lg-2">
            <label>Search by keywords:</label>
            <textarea [(ngModel)]="keywords" formControlName="keywords" class="form-control h-25"></textarea>
          </div>
          <div class="col-xs-12 col-lg-2">
            <label>Drivetrain:</label>
            <select [(ngModel)]="drivetrainId" class="form-select" formControlName="drivetrain">
              <option *ngFor="let drivetrain of basicProperties.Drivetrain" [value]="drivetrain.Id">
                {{drivetrain.Name}}
              </option>
            </select>
          </div>
        </div>
      <div class="row">
        <div class="col">
          <button (click)="filterListings()" type="submit" class="btn btn-primary w-100">
            Search
          </button>
        </div>
      </div>
  </form>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-3 pt-2 mx-auto">
          <select class="form-select" [(ngModel)]="sortingId" (change)="filterListings()">
            <option [value]="1">Sort by price ascending</option>
            <option [value]="2">Sort by price descending</option>
            <option [value]="3">Sort by addition date ascending</option>
            <option [value]="4">Sort by addition date descending</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <app-listing-component-list [filteredListings]="filteredListings"></app-listing-component-list>
</div>
